<%= form_for(update) do |f| %>
	<div class="row">
	    <div class="col-xs-6"><%= f.number_field :quantity, class: 'form-control' %></div>
		<div class="col-xs-6"><%= f.submit "Update", class: "btn" %></div>
	</div>
<% end %>