<div class="row">
  <div class="col-md-4">
  	<%= image_tag(@product.image, alt:@product.name) %>
  </div>
  <div class="col-md-8">
  	<h3>
		<%= @product.name %>
	</h3>
	<p>
		Price: <%= number_to_currency @product.price %>
		
	</p>
	<p>
		<%= @product.description %>
	</p>
  </div>
</div>